body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/** ================HEADER==================== */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.header-logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-span {
  color: #2e2f42;
}
.header-menu-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header-menu-item {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  display: flex;
  align-items: center;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.address-list-item {
  display: flex;
}
.address-menu-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-menu-link:hover,
.address-menu-link:focus {
  color: #404bbf;
}

.main {
}
/** ================HERO==================== */

.hero {
  display: flex;
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/** ================FEATURES==================== */
.features {
  padding: 120px 0;
  background-color: #fff;
}
.features-container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.features-item {
}
.features-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  width: 264px;
  align-items: flex-start;
  gap: 8px;
}
.features-item-title-par {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;

  align-items: flex-start;
  gap: 8px;
}
/** ================TEAM==================== */
.team {
  padding: 120px 0;

  background-color: #f4f4fd;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
}
.team-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.team-list .team-title:first-child {
  width: calc((100% - 72px) / 4);
}

.team-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-hero {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.container-team {
  padding: 32px 0;
}
.team-hero-name {
  text-align: center;
  margin-bottom: 8px;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-hero-proff {
  text-align: center;
  margin-top: 8px;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ================PORTFOLIO==================== */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
}
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-title-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

  list-style-type: none;
}
.portfolio-title-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-name {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-info {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ================FOOTER==================== */

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-title {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-title-span {
  color: #f4f4fd;
}

.footer-title-item {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
